.nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #1e1e1e;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.active {
  color: #00d8ff;
  font-weight: bold;
  text-decoration: underline;
}
