.container {
  display: flex;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem 0;
  list-style: none;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 14px;
  width: 180px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #1e1e1e;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 255, 128, 0.3);
}

.poster {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #eee;
}
